
        </nav>
        <!-- partial -->
        <div class="main-panel">
          <div class="content-wrapper">
            <form action="" method="post" class="form-qlb">
              <div class="tong">
                <label ><b>LOẠI BÀN</b></label> <br>
                 <select class="aaa">
                  <option>
                    BÀN THƯỜNG
                  </option>
                  <option>
                    BÀN GIA ĐÌNH
                  </option>
                  <option>
                    BÀN VIP
                  </option>
                </select> <br>
                <label ><b>MÃ BÀN</b> </label><br>
                <input type="number" class="label"><br>
                <label><b> ẢNH</b></label><br>
                <input type="file" class="label"><br>
                <label ><b>MÔ TẢ</b> </label><br>
                <input type="text" class="label"><br>
                <label ><b>TRẠNG THÁI</b> </label> <br>
                <select class="aaa">
                 <option>
                    ĐANG SỬ DỤNG 
                 </option>
                 <option>
                    TRỐNG
               </option>
                </select> <br>
               
                <input type="button" value="GỬI" > <br>
                <a href="./danhsach.html"><input type="button" value="DANH SÁCH BÀN"></a>
              </div>
             
              
            </form>
          </div>
          <!-- content-wrapper ends -->
          <!-- partial:../../partials/_footer.html -->

          <!-- partial -->
        </div>
        <!-- main-panel ends -->
      </div>
      <!-- page-body-wrapper ends -->
    </div>
    <!-- container-scroller -->
    <!-- plugins:js -->
    <script src="../../assets/vendors/js/vendor.bundle.base.js"></script>
    <!-- endinject -->
    <!-- Plugin js for this page -->
    <script src="../../assets/vendors/chart.js/Chart.min.js"></script>
    <!-- End plugin js for this page -->
    <!-- inject:js -->
    <script src="../../assets/js/off-canvas.js"></script>
    <script src="../../assets/js/hoverable-collapse.js"></script>
    <script src="../../assets/js/misc.js"></script>
    <script src="../../assets/js/settings.js"></script>
    <script src="../../assets/js/todolist.js"></script>
    <!-- endinject -->
    <!-- Custom js for this page -->
    <script src="../../assets/js/chart.js"></script>
    <!-- End custom js for this page -->
  </body>
</html>